/* === Site Designed by Adrian Chrysanthou (f00dplays) === */

/* === Font === */
@font-face {
    font-family: 'BreakersSlab';
    src: url('../fonts/BreakersSlab-Bold.eot');
    src: url('../fonts/BreakersSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BreakersSlab-Bold.woff2') format('woff2'),
        url('../fonts/BreakersSlab-Bold.woff') format('woff'),
        url('../fonts/BreakersSlab-Bold.ttf') format('truetype'),
        url('../fonts/BreakersSlab-Bold.svg#BreakersSlab-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

.no-gutter{
    padding-right:0;
    padding-left:0;
}

ol,ul {
    padding-left: 0;
}

li {
    list-style: none;
       -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out; 
    transition: all .25s ease-in-out;
}

h1 {
    color: #fff;
}

p {
    color: #ebebeb;
}

img {
    border-style: none;
    outline: none;
}

/*img[src] {
    display: block;
}*/

body {
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #212121;
}

/*=== Navbar === */
.navbar-default {
    background-color: #4e5d6c;
    border-color: #333;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: rgba(255,255,255,.62);
    background-color: transparent;
}

.navbar-default .navbar-brand:active {
    color: rgba(255,255,255,.62);
    background-color: transparent;
}

.navbar-default .navbar-collapse,.navbar-default .navbar-form {
    border-color: #333;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: rgba(255,255,255,.62);
    background-color: transparent;
}

/* === Buttons === */
.btn {
    color: #fff;
    display: inline-block;
    padding: 16px 52px;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 400;
    line-height: .5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 0;
}

.btn.focus,.btn:focus,.btn:hover {
    color: #009ec3;
    text-decoration: none;
}



#audioBtn, .launchGame
{
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 300;
  margin: 0em auto;
  position: relative; 
  top:0; right:0; bottom:0; left:0;
  padding: 10px 0;
  width: 200px;
  background: #fe8204;
  border: 3px solid #000;
  color: #424242;
  overflow: hidden;
  transition: all 0.5s;
}

#audioBtn:hover, #audioBtn:active, .launchGame:hover, .launchGame:active 
{
  text-decoration: none;
  color: #000;
  border-color: #fe8204;
  background: #FFF;
}

#audioBtn span 
{
  display: block;
  position: relative;
  padding-right: 0;
  transition: padding-right 0.5s;
}

#audioBtn span:after 
{
    content: ' ';
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0;
    width: 30px;
    height: 10px;
    margin-top: -12.5px;
    background: rgba(0, 0, 0, 0);
    font-family: FontAwesome;
    font-weight: normal;
    content: "\f026";
    transition: opacity 0.5s, top 0.5s, right 0.5s;
}

#audioBtn:hover span, #audioBtn:active span 
{
  padding-right: 20px;
}

#audioBtn:hover span:after, #audioBtn:active span:after
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #fe8204;
  right: 0;
  top: 50%;
}

.form-control{
    color: #424242;
    background-color: #fe8204;
    border: 3px solid #000000;
    border-radius: 0px;
}
.form-control::placeholder {
    color: #424242;
}
.selectpicker .btn {
  background-color: #141414;
  border-style: solid;
  border-left-width: 3px;
  border-left-color: #00DDDD;
  border-top: none;
  border-bottom: none;
  border-right: none;
  color: white;
  font-weight: 200;
  padding: 12px 12px;
  font-size: 16px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.bootstrap-select .dropdown-menu {
  margin: 15px 0 0;
}
.dropDownSelection .btn {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    font-size: 1rem;
    line-height: .5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 0;
}

.dropDownSelection .btn:hover {
    opacity: .5;
}
.dropDownSelection h2 {
    color: #fff;
}
.signIn {
    text-align: center;
    margin: 10px 0 30px 0;
    text-decoration: none;
    list-style: none;
       -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.signOut a {
    color: #fff;
    line-height: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
}

.signOut a:hover {
    color: rgba(255,255,255,.62);
    background-color: transparent;
}

a {
    color: #fff;
        -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

a:hover {
    color: rgba(255,255,255,.62);
    text-decoration: none;
  

}

a:focus,a:focus:hover {
    color: #fff;
    text-decoration: none;
    /*  opacity: .5;*/
}

/* === Containers === */
.container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}

.jumbotron {
    background-color: transparent;
    margin-bottom: 0rem;
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    font-size: 3.5rem;
    font-family: 'BreakersSlab'; 
    font-weight: bold; 
    font-style: normal;
    list-style: none;
    color: #fff;
}

.jumbotron p {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 200;
    color: #ebebeb;
}

.panel-default>.panel-heading{
    color: #fff;
    background-color: #586674;
}
.panel {
    border: 0px solid transparent;
    margin-bottom: 0px; 
    background-color: inherit; 
    border-radius: 0px; 
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.0); 
    box-shadow: 0 0px 0px rgba(0,0,0,.0); 
}
.panel-default {
    border-color: initial; 
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 0px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0px solid transparent;
}
.panel-body {
    padding: 0px;
}
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a{
        color: #fff;
}
object {
    width:100%;
    min-height:100%;
}
.audioDiv {
    margin-bottom: 30px;
}

li.gameName {
    list-style: none;
    display: none;
}

.gameNameSelected {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'BreakersSlab'; 
    font-weight: bold; 
    font-style: normal;
    list-style: none;
    color: #fff;
}

.gameNameSelectedPlayTime {
    text-align: center;
    margin-bottom: 35px;
    font-size: 1.1rem;
    font-weight: 200;
    list-style: none;
    color: #fff;
}

.loginInfo {
    padding: 0 5px !important;
    font-size: 1.4rem;
}

.loginInfo img {
    width: 50px;
}

.gameName img {
    z-index: 1;
}

#steamFaq {
    position: relative;
    background-color: #2b2b2b;
    width: 100%;
    padding: 50px;
}

.steamContent {
    /*background-color: #4e5d6c;*/
    text-align: center;
    width: 100%;
    padding: 0;
    position: relative;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
.reveal {
    opacity: 1;
}
#gameInfos {
    width: 50%;
    margin: 0 auto;
    color: #d6d6d6;
    padding: 10px 0;
}

.gameNameSelectedPrice, .gameNameSelectedRating {
    font-size: 1.3em;
    padding: 10px;
}

.bgColor {
    left: 50%;
    margin: 0 0 0 -106px;
    padding: 0;
    position: absolute;
    z-index: -1;
}

#clipPolygon {
    -webkit-clip-path: polygon(0% 0%,74% 0%,42% 106%,27% 70%);
    -clip-path: polygon(0% 0%,74% 0%,42% 106%,27% 70%);
    -moz-clip-path: polygon(0% 0%,74% 0%,42% 106%,27% 70%);
    /* -webkit-clip-path: url(../images/clip.svg); */
    /* clip-path: url(../images/clip.svg#svgClip); */
    /* -webkit-mask: url(../images/clip.svg); */
    -ms-clip-path: polygon(0% 0%,74% 0%,42% 106%,27% 70%);
    height: 190px;
    width: 218px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-top: -3px;
    z-index: 999;
    /*-webkit-clip-path: polygon(0px 0px,218px 0px,130px 218px,90px 218px);
    clip-path: url("#clipPolygon");
    -webkit-mask: url(data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIwIiBoZWlnaHQ9IjAiPgogIDxjbGlwUGF0aCBpZD0ic3ZnQ2xpcCI+CiAgICA8cGF0aCBpZD0ic3ZnUGF0aCIgZD0iTTAsMCBMMjE4LDAgMTMwLDIxOCA5MCwyMTggeiIvPgogIDwvY2xpcFBhdGg+CiAgPHBhdGggaWQ9InN2Z01hc2siIGQ9Ik0wLDAgTDIxOCwwIDEzMCwyMTggOTAsMjE4IHoiICAvPgo8L3N2Zz4=) no-repeat;
    */
    /*<svg width="0" height="0">
    <clipPath id="clipPolygon">
    <polygon points="0 0,218 0,130 218,90 218">
    </polygon>
    </clipPath>
    </svg>*/
}

.gameImageCopy {
    width: 460px;
    height: 216px;
    z-index: 1;
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
}

.gameImageCopy img {
    overflow: hidden;
    -webkit-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
    -clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
    -moz-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
    -ms-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
    background-repeat: no-repeat;
}

.gameImageCopy img.show {
    width:100%;
    height:216px;
    -moz-animation: scaleImage 1000ms cubic-bezier(0.550,0.055,0.675,0.190);
    -o-animation: scaleImage 1000ms cubic-bezier(0.550,0.055,0.675,0.190);
    animation: scaleImage 1000ms cubic-bezier(0.550,0.055,0.675,0.190);
    -webkit-animation: scaleImage 1000ms cubic-bezier(0.550,0.055,0.675,0.190);
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.gameImageCopy img.hide {
    -moz-opacity: 0;
    opacity: 0;
}

/* === Animations === */

@keyframes scaleImage {
    0% {
        -moz-opacity: 0;
        opacity: 0;
        top: 9px;
        z-index: -1;
        -webkit-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
        -clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
        -moz-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
        -ms-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
    }

    50% {
        -moz-opacity: .8;
        opacity: .8;
        z-index: 0;
    }

    100% {
        -moz-opacity: 1;
        opacity: 1;

        z-index: 1;
        -ms-transform: translateY(6px);
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        -webkit-clip-path: polygon(99% 1%,1% 1%,0 100%,100% 100%);
        -clip-path: polygon(99% 1%,1% 1%,0 100%,100% 100%);
        -ms-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
        -moz-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
    }
}

@-webkit-keyframes scaleImage {
    0% {
        -moz-opacity: 0;
        opacity: 0;
        top: 9px;
        z-index: -1;
        -webkit-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
        -clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
        -moz-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
        -ms-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
    }

    50% {
        -moz-opacity: .8;
        opacity: .8;
        z-index: 0;
    }

    100% {
        -moz-opacity: 1;
        opacity: 1;
        z-index: 1;
        -ms-transform: translateY(6px);
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        -webkit-clip-path: polygon(99% 1%,1% 1%,0 100%,100% 100%);
        -clip-path: polygon(99% 1%,1% 1%,0 100%,100% 100%);
        -ms-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
        -moz-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
    }
}

@-moz-keyframes scaleImage {
    0% {
        -moz-opacity: 0;
        opacity: 0;
        top: 9px;
        z-index: -1;
        -webkit-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
        -clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
        -moz-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
        -ms-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
    }

    50% {
        -moz-opacity: .8;
        opacity: .8;
        z-index: 0;
    }

    100% {
        -moz-opacity: 1;
        opacity: 1;
        z-index: 1;
        -ms-transform: translateY(6px);
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        -webkit-clip-path: polygon(99% 1%,1% 1%,0 100%,100% 100%);
        -clip-path: polygon(99% 1%,1% 1%,0 100%,100% 100%);
        -ms-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
        -moz-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
    }
}

@-o-keyframes scaleImage {
    0% {
        -moz-opacity: 0;
        opacity: 0;
        top: 9px;
        z-index: -1;
        -webkit-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
        -clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
        -moz-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
        -ms-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
    }

    50% {
        -moz-opacity: .8;
        opacity: .8;
        z-index: 0;
    }

    100% {
        -moz-opacity: 1;
        opacity: 1;
        z-index: 1;
        -ms-transform: translateY(6px);
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        -webkit-clip-path: polygon(99% 1%,1% 1%,0 100%,100% 100%);
        -clip-path: polygon(99% 1%,1% 1%,0 100%,100% 100%);
        -ms-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
        -moz-clip-path: polygon(74% 0,21% 0,63% 100%,34% 100%);
    }
}

/* === Category === */

.hide {
    display: none;
}

#category,#genre,#username{
    margin-bottom: 20px;
    height: calc(2.25rem + 2px);
}

.free {
    color: #fff;
}

/* === Wheel === */

#gameWheel {
    display:block;
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center !important;
    background-attachment: fixed;
}

.bg {
    display: block;
    position: absolute;
    width: 100%;
    background-image: url(../images/overlay_bg.png);
    background-repeat: no-repeat;
    /*background-size: 1920px 1080px;*/
    background-size: 100% 1080px;
}

.skills-wheel {
    height: 450px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 100%;
    max-width: 450px;
    background-color: rgb(254, 130, 4);
    box-shadow: 0px 0px 0px 12px #fe8204;
}

.skills-wheel:before {
    border-style: solid;
    border-width: 32px 32px 0;
    border-color: #000 transparent transparent;
    content: ""; 
    height: 0;
    left: 50%;
    margin-left: -32px;
    position: absolute;
    top: 12px;
    z-index: 100;
    width: 0;
}

.skills-wheelbtn {
    color: #000;
    background-color:#fe8204;
    border: 4px solid #000;
    height: 100px;
    margin: 0 0 0 -50px;
    left: 50%;
    line-height: 95px;
    padding: 0;
    text-align: center;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    top: 40%;
    z-index: 999;
    box-shadow: 3px 3px #000;
    width: 100px;
}

.skills-wheelbtn:hover {
   /* opacity: .8;*/
    box-shadow: 0px 0px #000;
    color: #fff;
}

.skills-wheelbtn:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 96px;
    box-shadow: 0px 0px #000;
}

.wheel {
    border: 12px solid #000;;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    width: 100%;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
}

.wheel li {
    font-size: 1.2rem;
    height: 50%;
    line-height: 18px;
    list-style: none;
    left: 50%;
    margin: 0 0 0 -84px;
    padding: 0;
    position: absolute;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    text-shadow: 0 1px 2px rgba(0,0,0,.4);
    top: 0;
    width: 40%;
}


.wheel li:before {
    display: none;
}

.wheel a {
    color: #fff;
    left: 0;
    position: absolute;
    text-decoration: none;
    top: 18px;
    width: 100%;
    text-align: center;
    white-space: pre-wrap;
    line-height: 21px;
}

.wheel li:nth-child(1) {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.wheel li:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.wheel li:nth-child(3) {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.wheel li:nth-child(4) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.wheel li:nth-child(5) {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.wheel li:nth-child(6) {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

.wheel li:nth-child(7) {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.wheel li:nth-child(8) {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}

.wheel li:nth-child(odd) img {
    -webkit-opacity: .8;
    -moz-opacit: .8;
    opacity: .8;
}

.centerBox {
    position: relative;
    top: 50%;
}

.steamLogo {
    position: absolute;
    top: 30%;
    width: 20%;
    max-width: 100%;
    left: 50%;
    transform: translate(-50%,0);
}

.steamLogo img {
    width: 100%;
    height: 100%;
}

#overlay-menu {
    width: 100px;
    height: 50px;
}

.overlay h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 30px;
}

.overlay p {
    font-size: .5em;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.overlay nav {
    text-align: center;
    position: relative;
    top: 20%;
    height: 60%;
    font-size: 1.5em;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}

.overlay ul li {
    display: inline-block;
    height: 20%;
}

.overlay ul li a {
    width: 100%;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: #fff;
    margin-right: 40px;
}

.overlay ul li a:hover {
    color: rgba(255,255,255,.62);
    background-color: transparent;
}

.overlay ul li:before {
    content: " | ";
    color: #fff;
    float: left;
}

.overlay ul li:first-child:before {
    content: "";
}

.overlay-data {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(50px) translateX(50px);
    -o-transform: translateY(50px) translateX(50px);
    -moz-transform: translateY(50px) translateX(50px);
    -ms-transform: translateY(50px) translateX(50px);
    transform: translateY(0px) translateX(0px);
    -webkit-transition: opacity 0.5s,-webkit-transform 0.5s,visibility 0 .5s;
    -moz-transition: opacity 0.5s,-webkit-transform 0.5s,visibility 0 .5s;
    -o-transition: opacity 0.5s,-webkit-transform 0.5s,visibility 0 .5s;
    -ms-transition: opacity 0.5s,-webkit-transform 0.5s,visibility 0 .5s;
    transition: opacity 0.5s,transform 0.5s,visibility 0 .5s;
}

.overlay-open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: opacity 0.5s,-webkit-transform .5s;
    -o-transition: opacity 0.5s,-o-transform .5s;
    -ms-transition: opacity 0.5s,-ms-transform .5s;
    -moz-transition: opacity 0.5s,-moz-transform .5s;
    transition: opacity 0.5s,transform .5s;
}

/* === Footer === */
footer {
    background-color: #000;
    line-height: 1.5;
}
footer p{
    margin:0;
}

/* === Media Queries === */ 

@media (min-width:321px) and (max-width:481px) {
    .overlay ul li a {
        font-size: .6em;
    }

    .steamLogo {
        top: 40%;
    }

    .overlay h1 {
        font-size: 1.4em;
    }
}

@media (min-width:481px) and (max-width:767px) {
    .overlay ul li a {
        font-size: .8em;
    }

    .steamLogo {
        top: 40%;
    }

    .overlay h1 {
        font-size: 2.1em;
    }
}

@media (min-width: 2200px) {
    .steamLogo {
        top: 20%;
    }
}

@media (min-width: 1200px) {
    .maxWidth {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .maxWidth {
        width: 100%;
    }

    .overlay ul li a {
        font-size: 1.1em;
    }
}

/* === CSS Script for BootStrap Checkboxes === */
.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border .15s ease-in-out,color .15s ease-in-out;
    -ms-transition: border .15s ease-in-out,color .15s ease-in-out;
    -moz-transition: border .15s ease-in-out,color .15s ease-in-out;
    -o-transition: border .15s ease-in-out,color .15s ease-in-out;
    transition: border .15s ease-in-out,color .15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555;
}

.checkbox input[type="checkbox"],.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label::before,.checkbox input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after,.checkbox input[type="radio"]:checked + label::after {
    font-family: 'Glyphicons Halflings';
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label,.checkbox input[type="radio"]:disabled + label {
    opacity: .65;
}

.checkbox input[type="checkbox"]:disabled + label::before,.checkbox input[type="radio"]:disabled + label::before {
    background-color: #eee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,.checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:checked + label::after,.checkbox-primary input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,.checkbox-danger input[type="radio"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after,.checkbox-danger input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,.checkbox-info input[type="radio"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after,.checkbox-info input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,.checkbox-warning input[type="radio"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after,.checkbox-warning input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,.checkbox-success input[type="radio"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after,.checkbox-success input[type="radio"]:checked + label::after {
    color: #fff;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border .15s ease-in-out;
    -ms-transition: border .15s ease-in-out;
    -moz-transition: border .15s ease-in-out;
    -o-transition: border .15s ease-in-out;
    transition: border .15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555;
    -webkit-transform: scale(0,0);
    -moz-transform: scale(0,0);
    -ms-transform: scale(0,0);
    -o-transform: scale(0,0);
    transform: scale(0,0);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0.8,-0.33,0.2,1.33);
    -moz-transition: -moz-transform .1s cubic-bezier(0.8,-0.33,0.2,1.33);
    -o-transition: -o-transform .1s cubic-bezier(0.8,-0.33,0.2,1.33);
    transition: transform .1s cubic-bezier(0.8,-0.33,0.2,1.33);
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
}

.radio input[type="radio"]:disabled + label {
    opacity: .65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,input[type="radio"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

input[type="checkbox"] .styled:checked + label::before,input[type="radio"] .styled:checked + label::before {
    color: #fff;
}

input[type="checkbox"] .styled:checked + label::after,input[type="radio"] .styled:checked + label::after {
    color: #fff;
}

[v-cloak] { display: none; }